<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %} {% endblock %} | Pixel Lane 2020 </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="" rel="icon">
  <link href="" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href='{% static "lib/bootstrap/css/bootstrap.css" %}' rel="stylesheet">
  <link href='{% static "lib/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/animate/animate.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/ionicons/css/ionicons.min.css" %}' rel="stylesheet">
  <link href='{% static "css/style.css" %}' rel="stylesheet">

</head>
<body>
  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <a href='{% url "display:index" %}' class="scrollto"><h3><b>P</b>IXEL <b>L</b>ANE <b>2020</b></h3></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href='{% url "display:index" %}'>Home</a></li>
          <li class="drop-down"><a href="">Boards</a>
            <ul>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Portraiture</a></li>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Long Exposure</a></li>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Lifestyle</a></li>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Wildlife</a></li>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Street</a></li>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Bird</a></li>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Landscape</a></li>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Architecture</a></li>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Abstract</a></li>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Vogue</a></li>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Night Life</a></li>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Portraiture</a></li>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Long Exposure</a></li>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Lifestyle</a></li>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Wildlife</a></li>
              <li><a href='{% url "display:boards" genres="wildlife" %}'>Street</a></li>
            </ul>
          </li>

        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->
{% block content %}
{% endblock %}
<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy;<strong>ClickClub </strong>- All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://www.linkedin.com/in/manoj-rao-a56868124" target="_blank">Manoj Rao</a> &amp; <a href="https://www.linkedin.com/in/ishneet-bhatia-b710b5190/" target="_blank">Ishneet Bhatia</a>
    </div>
  </div>
</footer>
<!-- #footer -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>



<!-- comment below if you donot want to use preloader -->
<div id="preloader"></div>



<!-- JavaScript Libraries -->
<script src='{% static "lib/jquery/jquery.min.js" %}'></script>
<script src='{% static "lib/jquery/jquery-migrate.min.js" %}'></script>
<script src='{% static "lib/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
<script src='{% static "lib/easing/easing.min.js" %}'></script>
<script src='{% static "lib/mobile-nav/mobile-nav.js" %}'></script>
<script src='{% static "lib/wow/wow.min.js" %}'></script>
<script src='{% static "js/main.js" %}'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@latest/dist/browser-image-compression.js"></script>

</body>
</html>
