<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pixel Lane 2020</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="" rel="icon">
  <link href="" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

</head> 

<body>


  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <a href="index.html" class="scrollto"><h3><b>P</b>IXEL <b>L</b>ANE <b>2020</b></h3></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="index.html">Home</a></li>
          <!-- <li><a href="about.html">About</a></li>-->
          <li class="drop-down active"><a href="">Boards</a>
            <ul>
              <li><a href="board1.html">Board 1</a></li>
              <li><a href="board2.html">Board 2</a></li>
              <li><a href="board3.html">Board 3</a></li>
              <li><a href="board4.html">Board 4</a></li>
              <li><a href="board5.html">Board 5</a></li>
              <li><a href="board6.html">Board 6</a></li>
              <li><a href="board7.html">Board 7</a></li>
              <li class="active"><a href="board8.html">Board 8</a></li>
              <li><a href="board9.html">Board 9</a></li>
              <li><a href="board10.html">Board 10</a></li>
              <li><a href="board11.html">Board 11</a></li>
            </ul>
          </li>
          
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

   <section id="portfolio" class="clearfix">
      <div class="container">

        <header class="section-header">
		<br><br><br><br>
          <h3 class="section-title">Genre Name</h3>
          <br><br>
        </header>
<!--
        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li class="filter-active"><a style="color:#ffffff;" href="javascript:Board1()">Board 1</a></li>
              <li><a style="color:#ffffff;" href="javascript:Board2()">Board 2</li>
              <li><a style="color:#ffffff;" href="javascript:Board3()">Board 3</li>
              <li><a style="color:#ffffff;" href="javascript:Board4()">Board 4</li>
			  <li><a style="color:#ffffff;" href="javascript:Board5()">Board 5</li>
              <li><a style="color:#ffffff;" href="javascript:Board6()">Board 6</li>
              <li><a style="color:#ffffff;" href="javascript:Board7()">Board 7</li>
			  <li><a style="color:#ffffff;" href="javascript:Board8()">Board 8</li>
            </ul>
          </div>
        </div> -->

        <div id="board1" class="row portfolio-container">

          <div class="col-md-4 portfolio-item" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/web3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info" align="center" style='display:flex;flex-direction: row;padding: 10px;'>
                  <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" title="Preview"><i class="ion ion-eye"></i></a>
                  <a class="link-details" onclick="board1()" data-toggle="collapse" href="#collapseExample1" role="button" title="More Details"><i class="fa fa-list"></i></a>
                </div>
              </div>
              <br>
              <div class="collapse" id="collapseExample1">
                 <div class="card card-body">
                   <h4 align="center"><strong>Details</strong></h4><br>
                   <p><b>Clicked by</b>: Namee<br>
                   <b>Description</b>: abcdefg hijklmno pqrst uvwxyz<br>
                   </p>

                </div>
              </div>
            </div>

             <div class="col-md-4 portfolio-item" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/web3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info" align="center" style='display:flex;flex-direction: row;padding: 10px;'>
                  <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" title="Preview"><i class="ion ion-eye"></i></a>
                  <a class="link-details" onclick="board1()" data-toggle="collapse" href="#collapseExample2" role="button" title="More Details"><i class="fa fa-list"></i></a>
                </div>
              </div>
              <br>
              <div class="collapse" id="collapseExample2">
                 <div class="card card-body">
                   <h4 align="center"><strong>Details</strong></h4><br>
                   <p><b>Clicked by</b>: Namee<br>
                   <b>Description</b>: abcdefg hijklmno pqrst uvwxyz<br>
                   </p>

                </div>
              </div>
            </div>

            <div class="col-md-4 portfolio-item" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/web3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info" align="center" style='display:flex;flex-direction: row;padding: 10px;'>
                  <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" title="Preview"><i class="ion ion-eye"></i></a>
                  <a class="link-details" onclick="board1()" data-toggle="collapse" href="#collapseExample3" role="button" title="More Details"><i class="fa fa-list"></i></a>
                </div>
              </div>
              <br>
              <div class="collapse" id="collapseExample3">
                 <div class="card card-body">
                   <h4 align="center"><strong>Details</strong></h4><br>
                   <p><b>Clicked by</b>: Namee<br>
                   <b>Description</b>: abcdefg hijklmno pqrst uvwxyz<br>
                   </p>

                </div>
              </div>
            </div>	

        </div>
		    <br>
        <div align="center">
         <div class="upload-btn-wrapper">
           <button class="btn btn-primary">Scan QR</button>
         <input type="file" name="myfile" capture="camera"/>
         </div>    
        </div>
		 
		
		
      </div>
    </section>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy;<strong>ClickClub </strong>- All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://www.linkedin.com/in/manoj-rao-a56868124" target="_blank">Manoj Rao</a> &amp; <a href="https://www.linkedin.com/in/ishneet-bhatia-b710b5190/" target="_blank">Ishneet Bhatia</a>
      </div>
    </div>
  </footer>
  <!-- #footer -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  
  
  
  <!-- comment below if you donot want to use preloader -->
  <div id="preloader"></div>



  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="js/main.js"></script>

</body>
</html>
