{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{% block title %} Home {% endblock %}
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src='{% static "img/intro-img.png" %}' alt="" class="img-fluid">
      </div>

      <div class="intro-info">
	  <br>
        <h2 style="font-family:verdana;" align="center"><br>&nbsp;<span style="font-size: 41px;">Click Club NIT Raipur</span> <br>presents<br> <span style="font-size: 50px;"><b>P</b>IXEL <b>L</b>ANE <b>2021</b></span></h2>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>PIXEL LANE</h3>
        </header>
        <div class="row about-container">
          <br><br>
		      <div class="col-lg-12 content order-lg-2 order-2 wow fadeInUp">
            <p>
                 Click Club NIT Raipur take immense pride and heartfelt joy and presenting you the 9th edition of annual pictures exhibition, Pixel Lane 2K20. Be prepared to witness an everchanging landscape spanning across the three days of Eclectika and comprising of more than 270 photos across various genres. These pictures are the result of the continuous effort and hard work of our dedicated team.
              <br><br><br><br>
			     </p>
		  </div>

            <div class="col-lg-6 content order-lg-2 order-2 wow fadeInUp">
            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Portraiture</a></h4>
              <p class="description">Portraiture in photography is a photograph of a person or group of people that captures the personality of the subject by using effective lighting, backdrops and poses.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Lifestyle</a></h4>
              <p class="description">Lifestyle photography is a kind of photography that mainly aims to capture people in situations, real-life events or milestones in an artistic manner and the art of the everyday.</p>
            </div>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Street</a></h4>
              <p class="description">Street Photography is photography conducted for art or enquiry that features unmediated chance encounters and random incidents within public places.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Landscape</a></h4>
              <p class="description">Landscape photography shows spaces within the world, sometimes vast and unending, typically capture the presence of nature but can also focus on man-made features or disturbances of landscapes.</p>
            </div>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Abstract</a></h4>
              <p class="description">Abstract photography, sometimes called non-objective, experimental, conceptual or concrete photography, is a means of depicting a visual image that does not have an immediate association with the object world and that has been created through the use of photographic equipment, processes or materials.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Night Life</a></h4>
              <p class="description">Night Life Photography (also called night photography) refers to the activity of capturing images outdoors at night, between dusk and dawn.</p>
            </div>
            </div>


           <div class="col-lg-6 content order-lg-2 order-2 wow fadeInUp">
            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Long Exposure</a></h4>
              <p class="description">Long-exposure Photography involves using a long-duration shutter speed to sharply capture the stationary elements of images while blurring, smearing, or obscuring the moving elements.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Wildlife</a></h4>
              <p class="description">Wildlife photography is all about capturing animals in their natural habitats. The animals are often photographed in action, such as eating, fighting or in flight. Alternatively, more static portraits may be used to show detail of the animal or to depict it in its environment.</p>
            </div>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Bird</a></h4>
              <p class="description">Photographing birds is a real challenge, especially when they are in flight. However, you can take even more captivating images of birds perched, feeding, in courtship displays, or tending young.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Architecture</a></h4>
              <p class="description">Architectural photography is the photographing of buildings and similar structures that are both aesthetically pleasing and accurate representations of their subjects.</p>
            </div>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Vogue</a></h4>
              <p class="description">Vogue is a fashion and lifestyle magazine covering many topics including fashion, beauty, culture, living, and runway.</p>
            </div>
          </div>
        </div>


      </div>
    </section><!-- #about -->
{% endblock %}
